<!-- Modal -->
<div class="modal fade" id="delete-tour" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You want delete this user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteUser()"> Yes </button>
      </div>
    </div>
  </div>
</div>
